$full-screen__bg
  width 100%
  height 100%
  background-color #f2f2f2
  padding 20rpx

$content__area
  position relative
  width 100%
  padding 20rpx
  border-radius 4rpx
  box-shadow 1rpx 2rpx 5rpx #cccccc
  background-color #fff

px2rpx($px)
  unit($px * 2, 'rpx')
